html {
  scroll-behavior: smooth;
}
:root {
  --primary: #142b64;
  --bg: #010101;
}
::selection {
  background: var(--primary);
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: var(--bg);
  color: #fff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.4rem 7%;
  background-color: rgb(0, 0, 0, 0.8);
  border-bottom: 1px solid #070e20;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .navbar-logo {
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  font-style: italic;
}

.navbar .navbar-logo span {
  color: var(--primary);
}

.navbar .navbar-nav {
  z-index: 2;
}

.navbar .navbar-nav a {
  color: #fff;
  display: inline-block;
  font-size: 1.3rem;
  margin: 0 1rem;
  right: 0;
}

.navbar .navbar-nav a:hover {
  color: var(--primary);
}

.navbar .navbar-nav a::after {
  content: "";
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 0.1rem solid var(--primary);
  transform: scaleX(0);
  transition: 0.2s linear;
}

.navbar .navbar-nav a:hover::after {
  transform: scaleX(0.5);
}

.navbar .navbar-extra {
  z-index: 1;
}

.navbar .navbar-extra a {
  color: #fff;
  margin: 0 0.5rem;
}

.navbar .navbar-extra a:hover {
  color: var(--primary);
}

#hamburger-menu {
  display: none;
}

/* Hero section */
.hero {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/live-background.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(1, 1, 3, 1) 3%,
    rgba(255, 255, 255, 0) 25%
  );
}

.hero .content {
  text-align: center;
  max-width: 60rem;
}

.hero .content h1 {
  font-size: 5em;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
  line-height: 1.2;
}

.hero .content h1 span {
  color: var(--primary);
}

.hero .content p {
  font-size: 1.6rem;
  margin-top: 1rem;
  line-height: 1.4;
  font-weight: 400;
  text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content .p1 {
  margin-top: 5rem;
}

/* About Section */
.about,
.hobby,
.portofolio {
  padding: 8rem 7% 1.4rem;
}

.about h2,
.hobby h2,
.portofolio h2 {
  text-align: center;
  font-size: 2.6rem;
  margin-bottom: 1rem;
}

.about h2 span,
.hobby h2 span,
.portofolio h2 span {
  color: var(--primary);
}

.about .row {
  display: flex;
}

.about .row .about-img {
  flex: 1 1 45rem;
}

.about .row .about-img img {
  width: 100%;
  border-radius: 2rem 0 2rem 2rem;
  margin-top: 1rem;
}

.about .row .content {
  flex: 1 1 35rem;
  padding: 0 1rem;
  margin-top: 1rem;
}

.about .row .content h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  color: var(--primary);
}

.about .row .content p,
.about .row .content ul {
  margin-bottom: 0.8rem;
  margin-left: 1rem;
  font-size: 1.4rem;
  font-weight: 100;
  line-height: 1.6;
  list-style-type: none;
}

/* hobby section */
.hobby .row {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12rem;
  margin-bottom: 3.3rem;
  gap: 1rem 4.4rem;
  justify-content: center;
}

.hobby .row .hobby-card {
  text-align: center;
  padding-bottom: 4rem;
}

.hobby .row .hobby-card .hobby-card-img {
  height: 140px;
  width: 140px;
  border-radius: 3.5rem;
  transition: 1s ease;
  filter: opacity(80%);
}

.hobby .row .hobby-card .hobby-card-img:hover {
  filter: none;
  cursor: pointer;
  /* scale: 1; */
  box-shadow: 7px 7px 0px var(--primary);
}

.hobby .row .hobby-card-links {
  color: #fff;
}

.hobby .row .hobby-card .hobby-card-title {
  margin-top: 1.5rem;
  cursor: pointer;
}

.hobby .row .hobby-card .hobby-card-title:hover,
.hobby .row .hobby-card .hobby-card-title .hobby-card-links:hover {
  color: var(--primary);
}

/* portofolio section */
.portofolio .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portofolio .row .portofolio-card {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.portofolio .row {
  gap: 2rem;
  flex-wrap: wrap;
}

.portofolio .row .portofolio-card .portofolio-card-img {
  width: 400px;
  height: 280px;
  border-radius: 10px;
  transition: 1.3s ease;
  overflow: hidden;
  filter: opacity(30%);
  /* transform: perspective(500px) rotateY(20deg); */
}

.portofolio .row .portofolio-card .portofolio-card-img:hover {
  filter: none;
  cursor: pointer;
  scale: 1;
  filter: opacity(100%);
  /* transform: perspective(500px) rotateY(0deg); */
}

.portofolio .row .portofolio-card .portofolio-card-title {
  margin-top: 1.5rem;
  color: #fff;
  font-size: 1.5rem;
  max-width: 380px;
}

.portofolio .row .portofolio-card .portofolio-card-title:hover {
  color: var(--primary);
}

/* .portofolio .row .portofolio-card .portofolio-card-title::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
} */

.portofolio .row .portofolio-card .portofolio-card-title:hover::after {
  transform: scaleX(0.4);
}

/* .image-container {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.image-container img {
    transition: transform 0.3s ease-in-out;
    width: 400px;
    height: 280px;
}

.image-container:hover img {
    filter: blur(80%);
}

.hover-text {
    position: absolute;
    top: 56.4%;
    left: 50.2%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    color: #010101;
    font-size: 800;
    font-weight: bold;
    text-align: center;
    padding: 100px 171px;
    background-color: #070e20;
}

.hover-text:hover {
    opacity: 80%;
}

.image-container:hover .hover-text {
    opacity: 1;
} */

/* footer */
footer {
  background-color: var(--bg);
  text-align: center;
  padding: 1rem 0 3rem;
  margin-top: 3rem;
}

footer .sosials {
  padding: 1rem 0;
}

footer .sosials a {
  color: #fff;
  padding: 1rem;
}

footer .sosials a:hover,
footer .links a:hover {
  color: var(--primary);
}

footer .links {
  margin-bottom: 1.4rem;
  font-size: 17px;
}

footer .links a {
  color: #fff;
  padding: 0.7rem 1rem;
}

footer .credit {
  font-size: 1rem;
}

footer .credit a {
  color: var(--primary);
  font-weight: 700;
}

/* responsive */

/* Laptop */
@media (max-width: 1366px) {
  html {
    font-size: 75%;
  }
}
/* tablet */
@media (max-width: 780px) {
  html {
    font-size: 62.5%;
  }

  #hamburger-menu {
    display: inline-block;
  }

  .navbar .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: #fff;
    width: 30rem;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar .navbar-nav.active {
    right: 0;
  }

  .navbar .navbar-nav a {
    color: var(--bg);
    display: block;
    margin: 1.5rem;
    padding: 0.5rem;
    font-size: 2rem;
  }

  .navbar .navbar-nav a::after {
    transform-origin: 0 0;
  }

  .navbar .navbar-nav a:hover::after {
    transform: scaleX(0.2);
  }

  .about .row {
    flex-wrap: wrap;
  }

  .about .row .about-img img {
    height: 24rem;
    object-fit: cover;
    object-position: center;
  }

  .about .row .content {
    padding: 0;
  }

  .about .row .content h3 {
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    color: var(--primary);
  }

  .about .row .content p {
    font-size: 1.6rem;
  }

  .hobby .row .hobby-card img {
    border-radius: 50%;
    width: 80%;
    height: 150px;
    width: 150px;
  }

  .portofolio .row .portofolio-card .portofolio-card-img {
    width: 400px;
    height: 250px;
    border-radius: 10px;
  }
}

/* handphone */
@media (max-width: 450px) {
  html {
    font-size: 55%;
  }
}
